<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-feature android:name="android.hardware.usb.host" android:required="false" />

    <application
        android:name=".ArduinoMobileWorkshopApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ArduinoMobileWorkshop">
        <activity android:name=".ui.MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.SerialMonitorActivity" android:exported="false" />
        <activity android:name=".ui.BoardsManagerActivity" android:exported="false" />
        <activity android:name=".ui.LibraryManagerActivity" android:exported="false" />
        <activity android:name=".ui.SettingsActivity" android:exported="false" />
        <activity android:name=".ui.FilePickerActivity" android:exported="false" />
        <activity android:name=".ui.LogicAnalyzerActivity" android:exported="false" />
        <activity android:name=".ui.MultiProgrammerActivity" android:exported="false" />

        <service
            android:name=".rp2040.services.LogicAnalyzerService"
            android:exported="false" />
        <service
            android:name=".rp2040.services.RP2040ProgrammerService"
            android:exported="false" />

        <receiver
            android:name=".usb.UsbDeviceReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
